*{
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 221, 221);
    position: relative;
    margin: 0px;
}
#box{
    z-index: 1;
    position:absolute;
    top: 100px;
    left: 600px;
    border: 1px solid palevioletred;
    height: 900px;
    width: 200px;
    background-color: palevioletred;
}
#boxs2{
    z-index: 2;
    position:absolute;
    top: 200px;
    left: 200px;
    border: 1px solid white;
    height: 300px;
    width: 450px;
    background-color: white;
}
#maintitle{
      font-size: 90px;
      line-height: 0px;
}
#subtitle{
    font-size: 30px;
    line: height 0px;
}
#circle{
    z-index: 3;
    position:absolute;
    top: 210px;
    left: 210px;
    border: 1px solid palevioletred;
    height: 80px;
    width: 80px;
    background-color: palevioletred;
    border-radius: 50%;
}
#list{
    z-index: 2;
    position:absolute;
    top: 400px;
    left: 600px;
    border: 1px solid rgb(39, 38, 38);
    height: 450px;
    width: 550px;
    background-color: rgb(39, 38, 38);
    color: white;
    box-shadow: 5px 5px 8px black;
}
#listheading{
    font-size: 40px;
}
#ul {
    font-size: 20px;
    font-weight: 200;
    line-height: 2;
    padding-left: 60px;
    list-style-type: square ;
}
#listbtn{
    padding: 10px;
    border: 0.1px solid white;
    width: 220px;
    height: 50px;
    background-color: rgb(39, 38, 38);
    color: white;
}
#listbtn:hover{
    cursor: grab;
    width: 220px;
    height: 50px;
    background-color:white;
    color: rgb(39, 38, 38);
}
#DESIGN{
    position:absolute;
    top: 900px;
    padding: 90px;
    font-size: 150px;
    color: palevioletred;

}
pre{
    position:absolute;
    top: 1270px;
    left: 420px;
    font-size: 30px;
    line-height: 2;
}
#boxs3{
    position:absolute;
    top: 1200px;
    right: 100px;
    border: 1px solid whitesmoke;
    height: 400px;
    width: 350px;
    background-color: whitesmoke;
}
#subtitleb3{
    padding: 10px;
    font-size: 18px;
}
#circle2{
    z-index: 3;
    position:absolute;
    top: 1500px;
    left: 1130px;
    border: 1px solid palevioletred;
    height: 80px;
    width: 80px;
    background-color: palevioletred;
    border-radius: 50%;
}
#box3{
   position: absolute;
    top: 1640px;
    border: 0px solid palevioletred;
    width: 100%;
    height: 270px;
    background-color: palevioletred;
}
#box4{
     position: absolute;
     top: 1900px;
     border: 0px solid rgb(34, 34, 34);
     width: 100%;
     height: 1300px;
     background-color: rgb(34, 34, 34);
 }
 #boxs4,
 #boxs5,
 #boxs6,
 #boxs7{
        position: absolute;
        border: 0px solid white;
        width: 250px;
        height: 330px;
        background-color: white;
        text-align: center;
        box-shadow: 5px 5px 8px black;
        padding: 20px;
        text-decoration: none;
 }
 #boxs4{
    z-index: 1;
    top: 1800px;
    left: 100px;
 }
 #boxs5{
    z-index: 1;
    top: 1700px;
    left: 400px;
 }
 #boxs6{
    z-index: 1;
    top: 1800px;
    left: 700px;
 }
 #boxs7{
    z-index: 1;
    top: 1700px;
    left: 1000px;
 }
 #imgcir{
     border-radius: 50%;
 }
 #boxs8,
 #boxs9{
     z-index: 1;
     position: absolute;
     border: 0px solid rgb(34, 34, 34);
     color: white;
     text-align: left;
 }
 #boxs8{
     font-size: 50px;
     top: 2200px;
     left: 120px;
     height: 300px;
     width: 500px;
     
 }
 #boxs9{
    font-size: 20px;
    top: 2200px;
    left: 700px;
    height: 300px;
    width: 500px;
}
#learn{
    padding: 10px;
    border: 0.1px solid white;
    width: 220px;
    height: 50px;
    background-color: rgb(39, 38, 38);
    color: white;
}
#learn:hover{
    cursor: grab;
    width: 220px;
    height: 50px;
    background-color:white;
    color: rgb(39, 38, 38);
}
#BRANDING{
    z-index: 1;
    position:absolute;
    top: 2300px;
    padding: 90px;
    font-size: 130px;
    color: palevioletred;

}
#pre2{
    z-index: 2;
    position:absolute;
    top: 2670px;
    left: 420px;
    font-size: 30px;
    line-height: 2;
    color: white;
}
#boxs10{
    z-index: 1;
    position:absolute;
    top: 2670px;
    right: 100px;
    border: 1px solid whitesmoke;
    height: 450px;
    width: 350px;
    background-color: whitesmoke;
}
#subtitleb4{
    padding: 10px;
    font-size: 18px;
}
#circle4{
    z-index: 3;
    position:absolute;
    top: 3000px;
    left: 1130px;
    border: 1px solid palevioletred;
    height: 80px;
    width: 80px;
    background-color: palevioletred;
    border-radius: 50%;
}
#circle5{
    z-index: 1;
    position:absolute;
    top: 2700px;
    left: 300px;
    border: 1px solid gray;
    height: 450px;
    width: 450px;
    background-color: gray;
    border-radius: 50%;
}
#box5{
    z-index: 1;
    position:absolute;
    top: 3200px;
    left: 200px;
    border: 1px solid palevioletred;
    height: 1000px;
    width: 200px;
    background-color: palevioletred;
}
#im{
    z-index: 1;
    position:absolute;
    top: 3300px;
    left: 300px;
}
#boxs11{
    z-index: 1;
    position:absolute;
    top: 3500px;
    left: 100px;
    border: 1px solid rgb(34, 34, 34);
    height: 300px;
    width: 500px;
    background-color: rgb(34, 34, 34);
    color: white;
}
#maintitle1{
    font-size: 30px;
    margin: 15px;
}
#subtitle1{
    font-size: 60px;
    margin: 15px;
}
#boxs12,
#boxs13{
       position: absolute;
       border: 0px solid white;
       width: 380px;
       height: 250px;
       background-color: white;
       text-align: left;
       box-shadow: 5px 5px 8px black;
       padding: 20px;
       text-decoration: none;
}
#boxs12{
    z-index: 1;
    top: 3850px;
    left: 400px;
 }
 #boxs13{
    z-index: 1;
    top: 3850px;
    left: 830px;
 }
 #MARKETING{
    z-index: 1;
    position:absolute;
    top: 4100px;
    padding: 90px;
    font-size: 130px;
    color: palevioletred;

}
#pre3{
    z-index: 2;
    position:absolute;
    top: 4500px;
    left: 420px;
    font-size: 30px;
    line-height: 2;
    font-weight: 500;
}
#boxs14{
    z-index: 1;
    position:absolute;
    top: 4500px;
    right: 100px;
    border: 1px solid whitesmoke;
    height: 450px;
    width: 350px;
    background-color: whitesmoke;
}
#subtitleb5{
    padding: 10px;
    font-size: 18px;
}
#circle6{
    z-index: 3;
    position:absolute;
    top: 4850px;
    left: 1130px;
    border: 1px solid palevioletred;
    height: 80px;
    width: 80px;
    background-color: palevioletred;
    border-radius: 50%;
}
#circle7{
    z-index: 0;
    position:absolute;
    top: 4400px;
    left: 500px;
    border: 1px solid gray;
    height: 450px;
    width: 450px;
    background-color: gray;
    border-radius: 50%;
}
#box5{
    z-index: 1;
    position:absolute;
    top: 5000px;
    left: 360px;
    border: 1px solid palevioletred;
    height: 1000px;
    width: 300px;
    background-color: palevioletred;
}
#im2{
    z-index: 1;
    position:absolute;
    top: 5300px;
    left: 500px;
}
#boxs15{
    z-index: 1;
    position:absolute;
    top: 5100px;
    left: 100px;
    border: 1px solid rgb(34, 34, 34);
    height: 300px;
    width: 500px;
    background-color: rgb(34, 34, 34);
    color: white;
}
#maintitle2{
    font-size: 30px;
    margin: 15px;
}
#subtitle2{
    font-size: 60px;
    margin: 15px;
}
#list1{
    z-index: 2;
    position:absolute;
    top: 5500px;
    left: 100px;
    border: 1px solid white;
    height: 450px;
    width: 550px;
    background-color: white;
    box-shadow: 5px 5px 8px black;
}
#listheading1{
    font-size: 18px;
    color: gray;
    padding: 20px;
}
#ul1 {
    color: black;
    font-size: 20px;
    font-weight: 200;
    line-height: 2;
    padding-left: 60px;
    list-style-type: square ;
}
#listbtn1{
    padding: 10px;
    border: 0.1px solid white;
    width: 220px;
    height: 50px;
    background-color: rgb(190, 190, 190);
    color:black;
    font-size: 20px;
}
#listbtn1:hover{
    cursor: grab;
    width: 220px;
    height: 50px;
    background-color:palevioletred;
    color: white;
}
#box16{
    position: absolute;
    top: 6100px;
    border: 0px solid rgb(34, 34, 34);
    width: 100%;
    height: 500px;
    background-color: rgb(34, 34, 34);
}
#box17{
    z-index: 1;
    position:absolute;
    top: 6100px;
    left: 400px;
    border: 1px solid palevioletred;
    height: 500px;
    width: 200px;
    background-color: palevioletred;
}
#im3{
    z-index: 1;
    position:absolute;
    top: 6130px;
    left: 100px;
}
#boxs18{
    z-index: 1;
    position: absolute;
    top: 6140px;
    left: 800px;
    border: 0px solid rgb(34, 34, 34);
    height: 200px;
    width: 500px;
    color: white;
    text-align: center;
}
#Subscribe{
    font-size: 60px;
    line-height: 1px;
}
#email{
    padding: 10px;
    border-width: 0px 0px 1px 0px;
    border: 0px solid white;
    width: 240px;
    height: 50px;
    background-color:rgb(34, 34, 34);
}
#submit{
    padding: 10px;
    border: 0.1px solid white;
    width: 150px;
    height: 40px;
    background-color: white;
    color:black;
    font-size: 18px;
}
#submit:hover{
    cursor: grab;
    width: 220px;
    height: 50px;
    background-color:palevioletred;
    color: white;
}
#boxs19{
    z-index: 1;
    position: absolute;
    top: 6400px;
    left: 600px;
    border: 0px solid rgb(34, 34, 34);
    height: 200px;
    width: 300px;
    color: white;
    text-align: right;
    font-size: 20px;
}
#boxs20{
    z-index: 1;
    position: absolute;
    top: 6400px;
    left: 1020px;
    border: 0px solid rgb(34, 34, 34);
    height: 200px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 20px;
}
#footer{
    margin-bottom: 0px;
    position: absolute;
    top: 6580px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: rgb(85, 85, 85);
    padding: 40px;
}